.vscode
node_modules/
**/node_modules
**/node_modules/*
db/
bundle/
bundle.zip
.env
test/configuration/configuration.json
test/configuration/testing.js
test/*
platforms/alexaSkill/.ask
platforms/alexaSkill/.ask/*
platforms/alexaSkill/hooks/*
platforms/alexaSkill/hooks
platforms/alexaSkill/instructions
platforms/alexaSkill/instructions/*
platforms/alexaSkill/lambda/custom/config/config.json
platforms/alexaSkill/lambda/custom/factskillindex.js
platforms/alexaSkill/lambda/custom/testing.js
LICENSE